<mat-card>
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <mat-card class="image-card">
        <mat-card-header>
          <mat-card-title>2 BHK house for rent</mat-card-title>
          <mat-card-subtitle>Vadakkupattu, Chennai</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="displayImage" alt="Photo of a Shiba Inu">

        <mat-card-actions class="image-stepper">
          <button mat-button (click)="changeImage('previous')" [disabled]="disablePreviousButton">Previous</button>
          <button mat-button (click)="changeImage('next')" [disabled]="disableNextButton">Next</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <table>
        <tr>
          <td><b><b>type</b></b> - flat</td>
          <td><b><b>Area</b></b> - 865</td>
        </tr>
        <tr>
          <td><b>Total Floors</b> - 2</td>
          <td><b>floor</b> - 2</td>
        </tr>
        <tr>
          <td><b>Modular Kitchen</b> - Yes</td>
          <td><b>Furnished</b> - Semi Furnished</td>
        </tr>
        <tr>
          <td><b>Chimney</b> - Yes</td>
          <td><b>Bathroom</b> - 2</td>
        </tr>
        <tr>
          <td><b>Balcony</b> - 1</td>
          <td><b>Lift</b> - Yes</td>
        </tr>
        <tr>
          <td><b>Car Parking</b> - 1</td>
          <td><b>Bike Parking</b> - 1</td>
        </tr>
        <tr>
          <td><b>Rent</b> - 10000</td>
          <td><b>Maintenance</b> - 1000</td>
        </tr>
        <tr>
          <td><b>Preference</b> - Family</td>
          <td><b>Preference</b> - Family</td>
        </tr>
      </table>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>

<mat-card>
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <mat-card class="image-card">
        <mat-card-header>
          <mat-card-title>2 BHK house for rent</mat-card-title>
          <mat-card-subtitle>Vadakkupattu, Chennai</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="displayImage" alt="Photo of a Shiba Inu">

        <mat-card-actions class="image-stepper">
          <button mat-button (click)="changeImage('previous')" [disabled]="disablePreviousButton">Previous</button>
          <button mat-button (click)="changeImage('next')" [disabled]="disableNextButton">Next</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <table>
        <tr>
          <td><b><b>type</b></b> - flat</td>
          <td><b><b>Area</b></b> - 865</td>
        </tr>
        <tr>
          <td><b>Total Floors</b> - 2</td>
          <td><b>floor</b> - 2</td>
        </tr>
        <tr>
          <td><b>Modular Kitchen</b> - Yes</td>
          <td><b>Furnished</b> - Semi Furnished</td>
        </tr>
        <tr>
          <td><b>Chimney</b> - Yes</td>
          <td><b>Bathroom</b> - 2</td>
        </tr>
        <tr>
          <td><b>Balcony</b> - 1</td>
          <td><b>Lift</b> - Yes</td>
        </tr>
        <tr>
          <td><b>Car Parking</b> - 1</td>
          <td><b>Bike Parking</b> - 1</td>
        </tr>
        <tr>
          <td><b>Rent</b> - 10000</td>
          <td><b>Maintenance</b> - 1000</td>
        </tr>
        <tr>
          <td><b>Preference</b> - Family</td>
          <td><b>Preference</b> - Family</td>
        </tr>
      </table>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>