<mat-grid-list cols="4" >
    <mat-grid-tile class="grid-tile">
        <mat-card class="card">
            <mat-card-title><span>Management</span></mat-card-title>
            <mat-card-content>
                <p>we take operation, control, maintenance, and oversight of real estate and physical property</p>
            </mat-card-content>
            <mat-card-actions class="card-button">
                <button mat-stroked-button class="card-button" color="primary" routerLink="/management">View</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="grid-tile">
        <mat-card class="card">
            <mat-card-title><span>Realestate</span></mat-card-title>
            <mat-card-content>
                <p>we take operation, control, maintenance, and oversight of real estate and physical property</p>
            </mat-card-content>
            <mat-card-actions class="card-button">
                <button mat-stroked-button class="card-button" color="primary" routerLink="/realestate">View</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="grid-tile">
        <mat-card class="card">
            <mat-card-title><span>Projects</span></mat-card-title>
            <mat-card-content>
                <p>we take operation, control, maintenance, and oversight of real estate and physical property</p>
            </mat-card-content>
            <mat-card-actions class="card-button">
                <button mat-stroked-button class="card-button" color="primary" routerLink="/projects">View</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="grid-tile">
        <mat-card class="card">
            <mat-card-title><span>Other Services</span></mat-card-title>
            <mat-card-content>
                <p>we take operation, control, maintenance, and oversight of real estate and physical property</p>
            </mat-card-content>
            <mat-card-actions class="card-button">
                <button mat-stroked-button  color="primary" routerLink="/sod">View</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>