<mat-grid-list cols="4" rowHeight="8:3">
    <mat-grid-tile>
        <mat-icon>search</mat-icon>
        <span>Evaluation</span>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>schedule</mat-icon>
        <span>Regular Visits</span>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>help_outline</mat-icon>
        <span>Immediate Assistance</span>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>people</mat-icon>
        <span>Tenant arrangement</span>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>money</mat-icon>
        <span>Rent collection</span>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>search</mat-icon>
        <span>EB and other Maintenance</span>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>electrical_services</mat-icon>
        <span>Electrical works</span>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>plumbing</mat-icon>
        <span>Plumbing Works</span>
    </mat-grid-tile>
</mat-grid-list>

<!-- <mat-grid-list cols="4" rowHeight="5:3">
    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-subtitle>Property Management</mat-card-subtitle>
            <mat-card-content></mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <span>Regular Visits</span>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <span>Immediate Assistance</span>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <span>Tenant arrangement</span>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <span>Rent collection</span>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <span>EB and other Maintenance</span>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <span>Electrical works</span>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <span>Plumbing Works</span>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list> -->
<mat-card class="service-details-card">
    <mat-card-content>hi</mat-card-content>
    <mat-card-content>hi</mat-card-content>
</mat-card>

<mat-card class="ad-banner">
    <mat-card-content>
        <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>